:root{
    --color-papel: #f2cc8f;
    --color-letra: #5d1515;
    --color-fondo: #3d405b;
    --color-degradado: rgba(119, 73, 54, 0.75);

}
body{
    
    width: 800px; 
    margin: 50px auto 50px auto;
    color: var(--color-letra);
    background-color: var(--color-fondo);
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Grenze Gotisch', cursive;
}
main{
    background-color: var(--color-papel);
    padding: 40px;
    

    -webkit-box-shadow: inset 0px 7px 70px 16px var(--color-degradado);
    -moz-box-shadow: inset 0px 7px 70px 16px var(--color-degradado);
    box-shadow: inset 0px 7px 70px 16px var(--color-degradado);
}
a{
    text-decoration: underline;
    color: var(--color-letra);
}
.t-align-r{
    text-align: right;
}
.formula{
    font-weight: 800;
    letter-spacing: 2px;
}
.sombra{
    -webkit-box-shadow: 0px 7px 24px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 24px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 24px 10px rgba(0,0,0,0.75);
}
.text-shadow{
    text-shadow: 1px 1px 3px var(--color-degradado);
}
.sello{
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    filter: drop-shadow(2px 4px 6px black);
}